* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color:#ffe5b4ad ;
  }
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    background-color: #FFE5B4;
    color: #fff;
}


.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
    float: left;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    background-color: #4169e1;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 10px;
    display: inline-block;
}

/* main */
main{
    height: 100%;
    width:100%;
}
/* DROPDOWN MENU */


.dropdown {
    background-color: #4169e1;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}



.mainmenu li {
    background-color: #4169e1;
}

.mainmenu .dropdown {
    display: block;
}

/* responsive navbar menu start */
/*checkbox  */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

<<<<<<< HEAD:styles/index.css
=======
img{
    width: 600px;
    height: 300px;
}
.aboutPic {
    justify-content: left;
    display: flex;
    border:700px;
}

>>>>>>> about:styles/about.css


/* footer start */
footer {
<<<<<<< HEAD:styles/index.css

    clear: both;
    height: 10rem;
=======
>>>>>>> about:styles/about.css
   
    clear: both;
  }
.find-us{
    text-align: left;
}
.times {
    text-align: center;
}
.social-icons{
    text-align: right;
<<<<<<< HEAD:styles/index.css
    
}




=======
}
>>>>>>> about:styles/about.css
