* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color:#ffe5b4ad ;
   
  }

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    background-color: #FFE5B4;
    color: #fff;
}


.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
    float: left;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    background-color: #4169e1;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 10px;
    display: inline-block;
}

/* main */
main{
    height: 100%;
    width:100%;
}
/* DROPDOWN MENU */


.dropdown {
    background-color: #4169e1;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

/* .mainmenu li:hover {
    background-color: #4c9e9e;
}

.mainmenu:hover .dropdown {
    display: block;
} */

.mainmenu li {
    background-color: #4169e1;
}

.mainmenu .dropdown {
    display: block;
}

/* responsive navbar menu start */
/*checkbox  */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}











/* footer start */
footer {
    /* min-height: 30vh;
    bottom: -50px;
    left:0;
    width:100%;
    background-color: #FFE5B4;
    position: relative; */
    clear: both;
    
   
  }

.find-us{
    text-align: left;

}

.times {
    text-align: center;
}
.social-icons{
    text-align: right;
    
}





/* .img-slider {
    position: relative;
    width: 100%;
    height: 50%;
    
}
.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 26s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 50%;
    float: left;
    overflow: hidden
}
.img-slider .slider-container .slide img {
  /* display: block; */
  /* width: 100%;
  height: 30%
}
@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
} */ 
